.Logo
{
    height: 80px;
    width: 80px;
}

.Nav
{
    background-color: yellow;
}
.nav-link:hover
{
    color:green;
}
.slider
{
    height: 500px;
    width: 100%;
}
.image
{
    height: 300px;
    width: 100%;
}
.products
{
    height: 200px;
    width: 100%;
}
.btnn
{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 3s;
}
.btnn:hover{
    color: black;
}
.btnn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: yellow;
    z-index: -1;
    transition: 3s;
}
.btnn:hover::before{
    width: 100%;
}
.footer
{
background-color: yellow;
}
.list
{
    list-style-type: none;
}